PORT=5005

# Local docker-compose:
# DATABASE_URL=postgres://postgres:postgres@localhost:5432/inventory_sync
# DATABASE_SSL=false

# Hosted Postgres 
DATABASE_URL=postgres://user:password@host/dbname
DATABASE_SSL=true
